@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";
@plugin "daisyui";

.bg-grid {
  --size: 128px;
  --color-a: #00cc00;
  --color-b: #00aa00;

  background-image: conic-gradient(
    var(--color-a) 0% 25%,
    var(--color-b) 25% 50%,
    var(--color-a) 50% 75%,
    var(--color-b) 75% 100%
  );

  background-size: var(--size) var(--size);
}

@utility btn {
  @apply bg-green-600 hover:bg-green-700 text-white border border-white rounded-full;
}

@utility btn-danger {
  @apply bg-red-600 hover:bg-red-700;
}

@utility btn-disabled {
  @apply opacity-80;
}

@utility btn-progress {
  @apply bg-black/20 ease-linear pointer-events-none;
}